{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        cheshire {:mvn/version "5.9.0"}
        org.clojure/spec.alpha {:mvn/version "0.2.176"}}
 :paths ["src"
         "resources"]
 :aliases {:dev {:extra-paths ["test"
                               "test-resources"]
                 :extra-deps {org.clojure/test.check {:mvn/version "0.10.0"}}}
           :test {:extra-paths ["test"
                                "test-resources"]
                  :extra-deps {com.cognitect/test-runner {:git/url "https://github.com/cognitect-labs/test-runner.git"
                                                          :sha "cb96e80f6f3d3b307c59cbeb49bb0dcb3a2a780b" }}
                  :main-opts ["-m" "cognitect.test-runner"]}}}
